<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-1">About</h1>

        <p>
          Nace el projecto BEAT DATA iniciando su debut en la radio back to back
          (Cristian Cavandie), verano del 2019, saliendo al aire, en horario
          nocturno, A raiz de la pandemia mundial, como consecuencia de la
          cuarentena carvenicola que vivio el pueblo argentino, apartir de ese
          momento BEAT DATA entro al cyberspacio, donde reside actualmente elite
          y underground recorriendo los sonidos alternativos que nunca
          desaparecieron sino que dejaron de formar parte de cierta escena
          local, sonidos como industrial y post industrial, destacando italo
          disco, hardstyle, progresive trance, space synth, ebm..variantes de la
          musica electronica. destacando nuevos artistas del la escena
          mainstream y underground.
        </p>
      </section>
    </main>
  </body>
</html>
